.itemdetail__container{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.itemdetail__product{
    display: flex;
    flex-direction: column;
    position: inherit;
    border: solid;
    border-radius: 20px;
    height: 650px;
    width: 800px;
    align-items: center;
    text-align: center;
}